{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container text-center">
    <h1>Bienvenue sur mon Portfolio !</h1>
    <p>Nom : MIKAMOU OWEN </p>
    <p>Groupe TP : B1</p>

    <div class="container mt-5">
        <h2>À propos de moi</h2>
        <p>Je suis un étudiant passionné par l'informatique et le développement web. J'aime apprendre de nouvelles technologies et travailler sur des projets innovants.</p>
    </div>
    <div class="container mt-5">
        <h2>Contact</h2>
        <p>Email: mikamouowen03@gmail.com </p>
        <p>Téléphone: +33 686039248 </p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/mohammed-islam-choukri-76b511338/">Mon profil LinkedIn</a></p>
    </div>
</div>
{% endblock %}
